<?xml version="1.0"?>

<launch>

  <arg name="use_gmapping" default="false"/>
  <arg name="use_external_map" default="true"/>

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen" if="$(arg use_gmapping)">
    <rosparam>
      odom_frame: casper_odom
      base_frame: casper_base_link
      map_frame: map
      
      map_update_interval: 0.5

      maxUrange: 4.5
      maxRange: 5.0
      sigma: 0.05
      kernelSize: 1
      lstep: 0.05
      astep: 0.05
      iterations: 5
      lsigma: 0.075
      ogain: 3.0
      lskip: 0
      linearUpdate: 0.1
      angularUpdate: 0.1
      temporalUpdate: 0.5
      resampleThreshold: 0.5
      particles: 100
      xmin: -2.0
      ymin: -2.0
      xmax: 2.0
      ymax: 2.0

      # The resolution of the map, i.e. the length of the edge of
      # one pixel in meters.
      delta: 0.05

      llsamplerange: 0.01
      llsamplestep: 0.01
      lasamplerange: 0.005
      lasamplestep: 0.005

      maxURange: 5
      maxRange: 5.6

    </rosparam>
    <remap from="/scan" to="/hokuyo/scan" />
  </node>
  
  <node pkg="amcl" type="amcl" name="amcl" unless="$(arg use_gmapping)">
    <rosparam>
      min_particles: 200
      max_particles: 7000
      kld_err: 0.01
      kld_z: 0.99
      update_min_d: 0.1
      update_min_a: 0.4
      resample_interval: 2
      transform_tolerance: 0.4
      recovery_alpha_slow: 0.0
      recovery_alpha_fast: 0.0
      gui_publish_rate: -1.0
      save_pose_rate: 0.5
      use_map_topic: true
      first_map_only: false

      laser_max_beams: 60
      laser_likelihood_max_dist: 2.0
      laser_model_type: likelihood_field

      odom_model_type: omni
      odom_alpha1: 0.5
      odom_alpha2: 0.2
      odom_alpha3: 0.2
      odom_alpha4: 0.2
      odom_alpha5: 0.2

      base_frame_id: casper_base_link
      odom_frame_id: casper_odom
      global_frame_id: map
    </rosparam>    
    <remap from="map" to="/map"/>    
  </node>


</launch>

